@import organisms/portifolio
@import organisms/team
@import organisms/clientes-projetos

header
   background:
      image: url('../images/imagemin/fundo/fundo-pagina-sobre.jpg')
      repeat: no-repeat
      position: top center
      size: cover
   margin-top: 70px
