.navbar
   font-family: 'Open Sans', sans-serif
   font-weight: $regular
.navbar-default
   background-color: $branco
   padding: 10px
   font-size: 21px

header
   .descricao
      color: $branco
      padding-top: 15%
      padding-bottom: 15%

      h1
         font-weight: $bold
         text-align: center
         font-size: 55px
      p
         text-align: center
         font-size: 25px
         font-weight: $light

         .facebook
            color: #3b5998
            &:hover
               color: #55acee
         .instagram
            color: #bc2a8d
            &:hover
               color: #8a3ab9
         .github
            color: #f54e2a
            &:hover
               color: #fbad50
