.navbar
   font-family: 'Open Sans', sans-serif
   font-weight: $regular
.navbar-default
   background-color: $branco
   padding: 10px
   font-size: 21px

nav
    li
        a
            &:after
                content: ""
                display: table
                margin: 5px auto 0
                width: 0%
                height: 2px
                background-color: $preto-claro
                transition: .3s

            &:hover
                &:after
                    width: 50%

header
   .descricao
      color: $branco
      padding-top: 15%
      padding-bottom: 15%

      h1
         font-weight: $bold
         text-align: center
         font-size: 55px
      p
         text-align: center
         font-size: 23px
         font-weight: $light
