.portifolio
   font-family: 'Open Sans', sans-serif
   margin-top: 10px
   color: $preto-claro
   padding-bottom: 10px
   h1
      text-align: center
      font-weight: $regular
      color: $preto-claro

.lista-trabalhos
   margin-top: 50px

.trabalho
   +make-sm-column(4)
   +make-xs-column(12)
   padding-bottom: 30px
   figure
      h3
         font-weight: $regular
      strong
         font-weight: $light
      img
         border-radius: 3px
         transition-duration: 0.7s
         filter: blur(2px)
         &:hover
            filter: blur(0px)
            transition-duration: 0.7s
            -webkit-transform: scale(1.1)
            -ms-transform: scale(1.1)
            transform: scale(1.1)
