.servicos
   font-family: 'Open Sans', sans-serif
   margin-top: 10px
   color: $preto-claro
   h1
      text-align: center
      font-weight: $regular
      color: $preto-claro

.icones-servicos
   margin-top: 50px

.web
   +make-sm-column(4)
   text-align: center
   padding-bottom: 20px
   h3
      text-align: center
      font-weight: $regular
   p
      font-weight: $light
      font-size: 17px
      text-align: justify

.hospedagem
   +make-sm-column(4)
   text-align: center
   padding-bottom: 20px
   h3
      text-align: center
      font-weight: $regular
   p
      font-weight: $light
      font-size: 17px
      text-align: justify

.consultoria
   +make-sm-column(4)
   text-align: center
   padding-bottom: 20px
   h3
      text-align: center
      font-weight: $regular
   p
      font-weight: $light
      font-size: 17px
      text-align: justify

.manutencao
   +make-sm-column(4)
   text-align: center
   padding-bottom: 20px
   h3
      text-align: center
      font-weight: $regular
   p
      font-weight: $light
      font-size: 17px
      text-align: justify
